.load-info__fail-title {
    flex: 100%;
    font-family: Roboto Slab, PT Serif, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.15;
    margin: 0 0 16px;
}