@import url("_color/header__logo_color_white.css");
@import url("_color/header__logo_color_black.css");

.header__logo {
    font-family: Roboto Slab, PT Serif, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.2;
    text-decoration: none;
}

.header__logo:hover {
    opacity: 0.4;
    transition: .3s;
}

@media (max-width: 500px) {
    .header__logo {
        font-size: 1rem;
        line-height: 1.5;
    }
}