@import url("../content-info/content-info.css");
@import url("__container/cards-grid__container.css");
@import url("__show-more-button/cards-grid__show-more-button.css");

.cards-grid {
    padding: 80px 104px;
    background-color: #F5F6F7;
    position: relative;
}
@media (max-width: 1440px) {
    .cards-grid:before {
        display: none;
    }
}

@media (max-width: 950px) {
    .cards-grid {
        padding: 40px;
    }
}
@media (max-width: 440px) {
    .cards-grid {
        padding: 32px 16px 44px;
    }
}

.cards-grid:before {
    content: "";
    background-color: #f5f6f7;
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
 }
