@import url("../__item/technology__item.css");

.technology__item-container {
    display: grid;
    grid-template-areas: ". . . .";
    grid-gap: 70px;
    margin: auto;
}

@media (max-width: 1108px) {
    .technology__item-container {
        margin: auto 0;
    }
}
@media (max-width: 768px) {
    .technology__item-container {
        grid-gap: 94px;
        grid-template-columns: repeat(auto-fit, minmax(92px, 1fr));
        grid-template-areas: inherit;

    }
}

@media (max-width: 440px) {
    .technology__item-container {
        grid-gap: 64px;
        margin: 0 20px;
    }
}

