@import url("../__item/cards-grid__item.css");

.cards-grid__container {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 64px 0;
}
@media (max-width: 1050px) {
    .cards-grid__container {

        grid-gap: 8px;
        margin: 32px 0;
    }
}
@media (max-width: 767px) {
    .cards-grid__container {
        grid-template-columns: auto auto;
        margin: 40px 0 12px;
    }
}
@media (max-width: 500px) {
    .cards-grid__container {
        grid-template-columns: auto;

    }
}

