@import url("__speedbar/request-info__speedbar.css");
@import url("__title/request-info__title.css");
@import url("__mention/request-info__mention.css");

.request-info {
    padding: 40px 104px 80px 104px;
}

@media (max-width: 768px) {
    .request-info {
        padding: 32px 40px 40px;
    }
}
@media (max-width: 440px) {
    .request-info {
        padding: 16px 16px 24px;
    }
}