.commits-history__carousel-cell-description {
    font-family: Roboto, Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.37;
    color: #1A1B22;
    height: 88px;
    overflow: hidden;
}