.load-info__text-preloader {
    text-align: center;
    color: #B6BCBF;
    font-family: Roboto, Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.3;
}