.about-author__text {
    margin-left: 56px;
    flex: 0 1 600px;
}

@media (max-width: 950px) {
    .about-author__text {
        margin-left: 32px;
    }
}

@media (max-width: 550px) {
    .about-author__text {
        flex: 1;
        margin-left: 0;
    }
}