.search-block__input {
    width: 80%;
    border-radius: 100px;
    font-family: Roboto, Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.37;
    padding: 21px 0 21px 24px;
    border: 0;
    color: #1A1B22;
}

.search-block__input::placeholder {
    color: #B6BCBF;
}

@media (max-width: 768px) {
    .search-block__input {
        padding: 17px 0 17px 24px;
    }
}
@media (max-width: 440px) {
    .search-block__input {
        width: calc(100% - 32px);
        padding: 17px 16px;
        margin-bottom: 16px;
    }
}