@import url("../__circle-preloader/load-info__circle-preloader.css");
@import url("../__text-preloader/load-info__text-preloader.css");

.load-info__loader {
    background-color: #F5F6F7;
    padding: 80px 0;
    display: none;
}