@import url("../__carousel-cell/commits-history__carousel-cell.css");

.commits-history__carousel {
    width: calc(100% + 208px);
    margin: 64px 64px 0 -104px;

}
.commits-history__carousel::before, .commits-history__carousel::after {
    content: '';
    width: 88px;
    z-index: 1;
    position: absolute;
    height: 100%;
    top: 0;
}

.commits-history__carousel::before {
    left: 0;
    background: linear-gradient(to right, #f5f6f7 0%, rgba(255,255,255,0) 100%);
}
.commits-history__carousel::after {
    right: 0;
    background: linear-gradient(to left, #f5f6f7 0%, rgba(255,255,255,0) 100%);
}

@media (max-width: 1440px) {
    .commits-history__carousel::before {
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
    .commits-history__carousel::after {
        background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
}

@media (max-width: 768px) {
    .commits-history__carousel {
        width: calc(100% + 80px);
        margin: 32px 0 0 -40px;
    }
    .commits-history__carousel::before, .commits-history__carousel::after {
        display: none;
    }
}

@media (max-width: 550px) {
    .commits-history__carousel {
        width: calc(100% + 80px);
    }

}
@media (max-width: 440px) {
    .commits-history__carousel {
        width: calc(100% + 32px);
        margin: 0 -16px 0 -16px;
    }

}


