.header__button-status_disabled {
    color: #B6BCBF;
}

.white-label .header__button-status_disabled:hover {
    color: white;
}

.black-label .header__button-status_disabled:hover {
    color: #1A1B22;
}