@import url("../__item/cards-grid__item.css");

.cards-grid__container {
    display: grid;
    grid-template-areas: ". . ." ". . .";
    grid-gap: 16px;
    margin: 64px 0;
}
@media (max-width: 1050px) {
    .cards-grid__container {
        grid-gap: 8px;
        margin: 32px 0;
    }
}
@media (max-width: 767px) {
    .cards-grid__container {
        grid-template-areas: ". ." ". .";
        margin: 40px 0 12px;
    }
}
@media (max-width: 550px) {
    .cards-grid__container {
        grid-template-areas: ".";
    }
}

