@import url("../__chart-line-date/request-details__chart-line-date.css");
@import url("../__chart-line-month/request-details__chart-line-month.css");
@import url("../__chart-line-mention/request-details__chart-line-mention.css");

.request-details__chart-line {
    border-bottom: 1px solid #1A1B22;
    padding-bottom: 24px;
    display: flex;
    font-family: Roboto,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.3;
    text-transform: uppercase;
    color: #B6BCBF;
}