.search-block__subtitle {
    font-family: Roboto, Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.3;
    color: white;
    margin: 0 0 64px;
    width: 100%;
}

@media (max-width: 768px) {
    .search-block__subtitle {
        margin-bottom: 24px;
    }
}
@media (max-width: 500px) {
    .search-block__subtitle {
        font-size: 1.25rem;
        line-height: 1.3;
    }
}
