.client__title {
    margin: 0 0 24px;
    font-family: Roboto Slab, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.15;
    color: #1A1B22;
}

@media (max-width: 768px) {
    .client__title {
        font-size: 1.87rem;
        line-height: 1.13;
        margin-bottom: 16px;
    }
}

@media (max-width: 440px) {
    .client__title {
        line-height: 1.33;
    }
}
