.cards-grid__item-source {
    font-family: Roboto Slab, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: #B6BCBF;
    padding-left: 24px;
    margin-top: auto;
}

@media (max-width: 1050px) {
    .cards-grid__item-source {
        padding-left: 16px;
    }
}